body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fundo.png);
    width: 100vw;
    height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
}

.conteiner {
    display: flex;
    flex-direction: column;
    background-color: var(--fundo-primeiro);
    padding: 30px;
    max-width: 350px;
    height:650px;
    border-radius: 10px;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.info-cliente, .info-veiculo, .info-servico, .info-valor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    
}

fieldset {
    padding: 10px;
}

.botoes {
    display: flex;
    justify-content: center;
}

.botoes > button {
    width: 200px;
    margin: 10px;
    padding: 7px;
    border-radius: 7px;
    border: none;
    background-color: var(--color-botoes);
    color: var(--fundo-primeiro);
    font-weight: 600;
}

.botoes > button:hover {
    background-color: var(--cor-hover);
}