body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fundo.png);
    width: 100vw;
    height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
}

.conteiner {
    display: flex;
    flex-direction: column;
    background-color: var(--fundo-primeiro);
    padding: 30px;
    width: 80vw;
    height:100vh;
    border-radius: 10px;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.info-cliente, .info-veiculo, .info-servico, .info-valor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


fieldset {
    padding: 10px;
}

.botoes {
    display: flex;
    justify-content: center;
}

.botoes > button {
    width: 200px;
    margin: 10px;
    padding: 7px;
    border-radius: 7px;
    border: none;
    background-color: var(--color-botoes);
    color: var(--fundo-primeiro);
    font-weight: 600;
}

.botoes > button:hover {
    background-color: var(--cor-hover);
}


.assinatura {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.assinatura-caneta {
    transform: translateY(25px);
}




/*
        estilo do orçamento pronto
*/

#campos {
    margin: 20px;
}

.logo-orcamento {
    width: 40%;
}

.btn {
    display: flex;
    justify-content: center;
}


button {
    width: 200px;
    margin: 10px;
    padding: 7px;
    border-radius: 7px;
    border: none;
    background-color: var(--color-botoes);
    color: var(--fundo-primeiro);
    font-weight: 600;
}

button:hover {
    background-color: var(--cor-hover);
}